@font-face 
{
	font-family: Chunkfive;
	src: url('fonts/Chunkfive.otf');
}

@font-face 
{
    font-family:Oswald-Light;
    src: url('fonts/Oswald-Light.otf');
}

@font-face 
{
    font-family:Oswald-Bold;
    src: url('fonts/Oswald-Bold.ttf');
}

@font-face 
{
    font-family:Oswald-Regular;
    src: url('fonts/Oswald-Regular.ttf');
}

/*
menu 
*/

a {text-decoration: none; }

#menu
{
    background: #5B777D;
    color: white;
    height:100%;
}

#menu li
{
    padding: 10px;
    font-family: Oswald-Light;
    font-size: 16px;
    font-weight: lighter;
}
#menu a:link{
    text-decoration: none;
    color:white;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body
{
    margin-left: 2px;
    margin-right: 2px;
}

img.center { display: block; margin-left: auto; margin-right: auto; }

.ui-page
{
   background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b6bec6), color-stop(53%,#889eb0), color-stop(100%,#96998a));
}

.ui-header .ui-title 
{
    min-height: 1.1em;
    text-align: center;
    font-size: 30px;
    margin: .1em 1% .01em;
    white-space: nowrap;
    outline: 0!important;
    font-weight:normal;
    background: #ffffff;
}

.ui-btn-inner 
{
    color: #222;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
       
.ui-btn-inner .ui-icon 
{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.ui-icon-myback,
.ui-icon-mymenu,
.ui-icon-mysearch
{
    /*
    Commenting out because does not appear to have an affect.
    background-repeat: no-repeat;
    margin: 0px;
    padding-bottom: 61px;
    padding-right: 60px;
    float: left;*/
}

.ui-button-myback
{
    width: 40px;
}

.ui-icon-myback
{
    background: url('CustomIcons/back.png') 0px -8px;
    width: 40px;
    height: 23px;
}
  
.ui-icon-mymenu
{
    background: url('CustomIcons/menu.png') !important;
}

.ui-icon-mysearch
{
    background: url('CustomIcons/search.png') !important;
}
    
.ui-header 
{
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    z-index: 29;
}

/* Blurring background image.
 blurredBackground consists of two divs.  The second div will sit on top of the first.
 The container div will need the height and width set.
*/  
div.blurredBackgroundContainer
{      
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 0;    
    -webkit-filter: blur(1px);
    margin-left: -3px;
    margin-top: -10px;
}

div.blurredBackgroundContent
{
    position: relative;
    z-index: 10; /* Ensure content is on top of blurredBackgroundContainer. */
}

/* **** Home Page *** */    
.nearBy
{
    font-family: Oswald-Bold;
}
    
#homeMiddle.ui-grid-a .ui-block-a,
#communityMiddleSection.ui-grid-a .ui-block-a
{
    width: 60%;
}
    
#homeMiddle.ui-grid-a .ui-block-b,
#communityMiddleSection.ui-grid-a .ui-block-b
{
    width: 40%;
}

/* offer-section*/

.ui-li-desc
{
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.offerName
{
    font-size: 18px;
    font-family:Oswald-Bold;
    color: #67696d;
    padding-top: 0;
}

.offerDesc
{
    font-size: 15px;
    font-family: Oswald-Regular;
    color: #c9c9ca;
}

.offerExp
{
    font-size: 10px;
    font-family: Oswald-Light;
    color: #667584;
}

.ui-header > .ui-btn-icon-notext
{
    /* Make button taller so that it is easier to touch. */
    top: 1px;
    height: 40px;
}

.ui-header > .ui-btn-icon-notext .ui-btn-inner
{
    /* Move button image down so it is in the middle of the taller button. */
    margin-top: 10px;
}

.ui-header > .ui-btn-up-a
{
    /* Remove button background and border as set in theme roller. */
    background:transparent;
    border: none;
}

.ui-header > .ui-btn-hover-a
{
    /* Remove button background as set in theme roller. */
    background: transparent;
}

.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon 
{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    background-color: #7ea5ad;
}


.ui-footer
{
    text-align: center; 
    font-weight: normal;
    height: 30px;
    font-size: 20px;
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

/**
* Carousel with image and text, custom skinned scrollbar
**/
.touchcarousel 
{
    width: 940px;
    height: 125px;
    margin: 0 auto;
}	
.touchcarousel .arrow-holder 
{
    height: 125px;
}		

.touchcarousel .touchcarousel-item 
{
    margin-right: 1px;	
    width: 125px;
    height: 125px;	
    z-index: -1;
}

.touchcarousel .item-block 
{
    width: 125px;
    height: 125px;
    display: block;
}

.touchcarousel .item-block img, 
.touchcarousel .item-block p 
{
    float: left;
    position: relative;
    display: block;
    margin: 0;			
}

.touchcarousel .item-block img 
{
    width: 125px;
    height: 125px;		
    border: 0;
    padding: 0;
    z-index: 1;
}

.touchcarousel .item-block 
{
    text-decoration: none;
    color: inherit;			
}					

.touchcarousel .item-block h4 
{
    font-family: Oswald-Light, sans-serif;
    font-size: 16px;
    height: 20px;
    position: absolute;		
    padding: 1px 1px 6px 6px;
    margin-top: 98px;
    -webkit-transition: color 0.2s ease-out; 
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    z-index: 2;
    background-color: #333;
    color: #fff;
    text-shadow: 0px 0px 0px #000;
    font-weight: normal;
}

.touchcarousel .item-block:hover h4 
{
    color: #1873c9;		
}

.touchcarousel .item-block p 
{
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    color: #555;		
    width: 125px;
    padding: 0 0 0 6px;
}

#carousel-image-and-text .scrollbar-holder 
{
    background: #CED7DB;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
}

.touchcarousel .scrollbar 
{
    background-color: #45a8ce !important;
    bottom: 0;
}

/* mm-section */

.mm-section 
{
    position: relative; 
    box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.85);
    background: -webkit-linear-gradient(-45deg, #7ea5ad 0%,#627c87 100%);
    border: 1px solid #666666;
}

.mm-section .icon 
{
    width: 40px;
    height: 40px;
    
    position: absolute;
    top: 2px;
    right: 2px;  
    z-index: 20;
}

.mm-section .icon-number-map
{
    font-family: Oswald-Light;
    position: absolute;
    top:6px;
    right: 18px;
    z-index: 30;
    font-weight: normal;
    text-shadow: none;
    color: white;
    text-decoration: none
    
}

.mm-section .icon-number-social
{
    font-family: Oswald-Light;
    position: absolute;
    top: 6px;
    right: 14px;
    z-index: 30;
    font-weight: normal;
    text-shadow: none;
    color: white;
    text-decoration: none
}

#socialSection 
{
    background-color: black;
    min-height: 200px;
    max-height: 200px;
}

.ui-content 
{
    padding: 3px;
}

.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button 
{
    font-family: Oswald-Light, Arial, Helvetica;
}

.offersSection .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li
{
    padding: 1px;
}

.offersSection .ui-li-has-icon .ui-btn-inner a.ui-link-inherit 
{    
    padding-left: 95px;    
}

.offersSection .ui-li-count
{
    font-family: Oswald-Light;
    font-weight: normal;
}

.offersSection .ui-li-icon 
{
    left: 12px;
    max-width: 79px;
    max-height: 65px;
    top: 0px;
    padding-right: 2px       
}

/* Location Page */

.locationNavBarContainer .ui-navbar li .ui-btn
{
    text-align: left;
    font-family: Oswald-Light;
    font-size: 31px;
    color: white !important;
    background: -webkit-linear-gradient(top, rgba(51,51,51,0.36) 0%,rgba(38,38,38,0.45) 100%);
}

.locationNavBarContainer .ui-mini .ui-btn-inner
{
    color: white;
}

.locationImage
{
    border: 5px solid rgba(37, 60, 69, 0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.follow {
	-moz-box-shadow: 0px 3px 7px -3px #1f1d1f;
	-webkit-box-shadow: 0px 3px 7px -3px #1f1d1f;
	box-shadow: 0px 3px 7px -3px #1f1d1f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26e21), color-stop(1, #f26e21) );
	background:-moz-linear-gradient( center top, #f26e21 5%, #f26e21 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26e21', endColorstr='#f26e21');
	background-color:#f26e21;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #b06639;
	display:inline-block;
	color:#FDDDC6;
	font-family:Chunkfive;
	font-size:12px;
	font-weight:normal;
	padding:0px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #625248;
}

.follow:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26e21), color-stop(1, #f26e21) );
	background:-moz-linear-gradient( center top, #f26e21 5%, #f26e21 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26e21', endColorstr='#f26e21');
	background-color:#f26e21;
}

.follow:active 
{
	position:relative;
	top:1px;
}

.ui-body-c .ui-link 
{
    color: #FDDDC6;
    font-weight: normal;
}

.locationOffers 
{
    padding-top: 25px;
}


/* offer page */


@media all and (max-width: 50em) {
	.offer-breakpoint .ui-block-a
    {
    width: 62%;
    float:none;
	.offer-breakpoint .ui-block-b
	{ 
		width: 30%; 
		float:none; 
	}
}

.offer-breakpoint .ui-block-a {
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-image: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
        }
        
.offer-breakpoint .ui-block-b {
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-image: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
    height: 150px;
    margin-right: 5px;
    margin-top: 5px;
    }

.offer-businessname {
    color: rgb(255, 255, 255);
    font-family: Oswald-Regular;
    height: auto;
    line-height: 1em;
    text-align: left;
    padding-left: 4px;
    -webkit-font-smoothing:antialiased;
}

.offers-used{
    font-family: Oswald-Light;
    color: rgb(76, 113, 122);
    float: left;
    height: auto;
    line-height: 1em;    
    margin: 5% 0 0 2%;
    text-align: left;
    }
    
.map
{
    background: url('CustomIcons/map.png') !important;
     width: 40px;
    height: 23px;
}
    
.offer-description{
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid rgb(255, 255, 255);    
    border-radius: 5px;
    height: 218px;
    width: 95%;
    margin: 5px;
        }
.coupon-bg{
    background: rgb(124, 162, 167);
    border-radius: 5px;
    box-shadow: rgba(9, 9, 9, 0.292969) 1px 7px 5px 0px;
    float: center;
    height: 217px;
    padding: 10%
    width: 95%;
            }
.coupon-stitching{
    border: 1px dashed rgb(255, 255, 255);
    border-radius:  5px;
    float: left;
    height: 95%;
    margin: 5px;
    width: 95%;
                }
                
.coupon-front{
        background: rgba(255, 255, 255, 0.7);
border-radius:5px;
box-shadow: rgba(0, 0, 0, 0.292969) 1px 7px 5px 0px;
float: left;
height: 95%;
margin: 5px;
width: 96%;
                    }

.coupon-description{
    color: rgb(255, 255, 255);
    float: left;
    font-family: Oswald-Light;
    height: 100px;
    line-height: 1em;    
    margin: 25px 0 0 7%;
    text-align: center;
    width: 87%;
    text-decoration:none;
	text-shadow:1px 1px 0px #66422e;
    }      

.offer-button{
	-webkit-box-shadow:inset 0px 1px 0px 0px #eba078;
	box-shadow:inset 0px 1px 0px 0px #eba078;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eb7636), color-stop(1, #d16d2a) );
	background:-moz-linear-gradient( center top, #eb7636 5%, #d16d2a 100% );
	background-color:#eb7636;
	-webkit-border-radius:150px;
	border-radius:150px;
	border:1px solid #a82f03;
	display:inline-block;
    margin: auto;
	text-decoration:none;
	text-shadow:1px 1px 0px #66422e;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 350px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    
}.offer-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d16d2a), color-stop(1, #eb7636) );
	background:-moz-linear-gradient( center top, #d16d2a 5%, #eb7636 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d16d2a', endColorstr='#eb7636');
	background-color:#d16d2a;
}.offer-button:active {
	position:relative;
	bottom:99px;
}
.offer-button > div {
            color: white;
            position: relative;
            left: 33px;
            top: 60px;
            text-decoration:none;
	        text-shadow:1px 1px 0px #66422e;
            font-family: Oswald-Light;
        }
