@font-face 
{
	font-family: Londrina;
	src: url('fonts/LondrinaSolid-Regular.ttf');
}

@font-face 
{
    font-family:Oswald-Light;
    src: url('fonts/Oswald-Light.otf');
}

@font-face 
{
    font-family:Oswald-Bold;
    src: url('fonts/Oswald-Bold.ttf');
}

@font-face 
{
    font-family:Oswald-Regular;
    src: url('fonts/Oswald-Regular.ttf');
}

/*
General Styles
*/

/*a { text-decoration: none; }

a:visited {color:#00FF00;} 
a:hover {color:#ffffff;}*/

body
{
    /*margin-left: 2px;
    margin-right: 2px;*/
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ui-header 
{
    border-bottom: solid 2px #7ea5ad;
}

.ui-header .ui-title 
{
    /* Center Vertcally using height and line-height with same value; As the title is resized it stays in the middle. */
    height: 42px;
    line-height: 42px;
    
    margin: 0px 50px 0px 50px;
   
    font-size: 23px;
    font-family: Londrina;
}

.ui-header .ui-btn-icon-notext
{
    /* Make button taller so that it is easier to touch. */
    top: 1px;
    height: 40px;
}

.ui-header .ui-btn-icon-notext .ui-btn-inner
{
    /* Move button image down so it is in the middle of the taller button. */
    margin-top: 10px;
}

.ui-header .ui-btn-up-a
{
    /* Remove button background and border as set in theme roller. */
    background:transparent;
    border: none;
}

.ui-header .ui-btn-hover-a
{
    /* Remove button background as set in theme roller, but keep the border. */
    background: transparent;
}

.ui-header .ui-button-myback
{
    width: 40px;
}

.ui-header .ui-icon-myback
{
    background: url('CustomIcons/back.png') 0px -8px;
    width: 40px;
    height: 23px;
}
  
.ui-header .ui-icon-mymenu
{
    background: url('CustomIcons/menu.png') !important;
}

.ui-header .ui-icon-mysearch
{
    background: url('CustomIcons/search.png') !important;
}

.ui-content 
{
    padding: 0px;
}

.mm-sectionLabel
{
    background-color: #7ea5ad;
    text-align: center;
    width: 75%;
}

.mm-sectionLabel span
{
    color: #ffffff;    
    font-family: Oswald-Light;
}

/**
* Carousel with image and text, custom skinned scrollbar
**/
.touchcarousel 
{
    width: 940px;
    height: 125px;
    margin: 0 auto;
}	

.touchcarousel .touchcarousel-item 
{
    margin-right: 1px;	
    width: 125px;
    /*height: 125px;	*/
    /*z-index: -1;*/
}

.touchcarousel .item-block 
{
    /*width: 100%;
    height: 100%;
    display: block;*/
    /*text-decoration: none;*/
}

.touchcarousel .item-block img
{
    float: left;
    /*position: relative;*/
    /*display: block;*/
    /*margin: 0;*/
    width: 100%;
    height: 100%;
    /*border: 0;*/
    /*padding: 0;*/
    /*z-index: 1;*/
}

.touchcarousel .item-block h4 
{
    background-color: #4c6163;
    color: #ffffff;
    font-family: Oswald-Light;
    font-size: 16px;
    
    height: 20px;
    margin-top: 98px;
    position: absolute;
    padding: 1px 1px 6px 6px;    
    /*z-index: 2;    */
}

/*.touchcarousel .item-block:hover h4 
{
    color: #7ea5ad;		
}*/

/*.touchcarousel .item-block p 
{
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    color: #555;
    color: red;
    width: 125px;
    padding: 0 0 0 6px;
}*/

/*.scrollbar-holder 
{
    background: #CED7DB;
    background: red;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
}*/

/*.touchcarousel .scrollbar 
{
    background-color: #45a8ce !important;
    background: red;
    bottom: 0;
}*/

.touchcarousel.black-and-white .arrow-holder
{
    /* Make Container 0px so that it does not block touching the underlying image */
    width: 0px;
}

.touchcarousel .arrow-holder.right
{
    /* Move the right arrow onto the screen. */
    right: 620px;
}

.touchcarousel.black-and-white .arrow-icon.left
{
    /* Move left arrow all the way to the left. */
    left: 0px;
}

.touchcarousel.black-and-white .arrow-icon.right
{
    /* Move right arrow all the way to the right. */
    right: 0px;
}

/* Enabled Carousel Icon. */
.touchcarousel.black-and-white .arrow-holder .arrow-icon.left,
.touchcarousel.black-and-white .arrow-holder .arrow-icon.right
{   
    background-color: black;
    
    /* Remove border radius put in by theme. */
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/* Disabled Carousel Icon. */
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left,
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right
{
}
    
/*
menu 
*/

#menu
{
    background: #1c585a;
    color: #7ea5ad;
    height:100%;
}

#menu li
{
    padding: 10px;
    font-family: Oswald-Light;
    font-size: 16px;
    font-weight: lighter;
}
#menu a:link{
    text-decoration: none;
    color:white;
}


/*.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
font-family: Oswalod-Light,Helvetica,Arial,sans-serif;
text-decoration: none;
}*/

/*.ui-panel-inner {
text-align: center;
font-family: Londrina;
}*/



img.center { display: block; margin-left: auto; margin-right: auto; }   

/* Blurring background image.
 blurredBackground consists of two divs.  The second div will sit on top of the first.
 The container div will need the height and width set.
*/  
div.blurredBackgroundContainer
{      
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 0;    
    -webkit-filter: blur(1px);
}

div.blurredBackgroundContent
{
    position: relative;
    z-index: 10; /* Ensure content is on top of blurredBackgroundContainer. */
}

#locationPage div.blurredBackgroundContainer
{
    margin-left: -3px;
    margin-top: -1;
}

/* **** Home Page *** */    

    
#homeMiddle.ui-grid-a .ui-block-a,
#communityMiddleSection.ui-grid-a .ui-block-a
{
    width: 60%;
}
    
#homeMiddle.ui-grid-a .ui-block-b,
#communityMiddleSection.ui-grid-a .ui-block-b
{
    width: 40%;
}

/* offer-section*/

.ui-li-desc
{
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.offerName
{
    font-size: 18px;
    font-family:Oswald-Bold;
    color: #506C70;
    padding-top: 0;
}

.offerDesc
{
    font-size: 15px;
    font-family: Oswald-Regular;
    color: #94c2c6;
}

.offerExp
{
    font-size: 10px;
    font-family: Oswald-Light;
    color: #506C70;
}



.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon 
{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    /*background-color: #7ea5ad;*/
    background-color: red;
    
}


/*.ui-footer
{
    text-align: center; 
    font-weight: normal;
    height: 30px;
    font-size: 20px;
}*/

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}



/* mm-section */

.mm-section 
{
    position: relative; 
    box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.85);
    background: -webkit-linear-gradient(-45deg, #7ea5ad 0%,#627c87 100%);
    border: 1px solid #666666;
}

.mm-section .icon 
{
    width: 40px;
    height: 40px;
    
    position: absolute;
    top: 2px;
    right: 2px;  
    z-index: 20;
}

.mm-section .icon-number-map
{
    font-family: Oswald-Light;
    position: absolute;
    top:6px;
    right: 18px;
    z-index: 30;
    font-weight: normal;
    text-shadow: none;
    color: white;
    text-decoration: none
    
}

.mm-section .icon-number-social
{
    font-family: Oswald-Light;
    position: absolute;
    top: 6px;
    right: 14px;
    z-index: 30;
    font-weight: normal;
    text-shadow: none;
    color: white;
    text-decoration: none
}

#socialSection 
{
    background-color: black;
    min-height: 200px;
    max-height: 200px;
}

/**/

/*.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button 
{
    font-family: Oswald-Light, Arial, Helvetica;
}
*/
.offersSection .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li
{
    padding: 1px;
}

.offersSection .ui-listview
{
    margin-top: 0px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 0px;
}

.offersSection .ui-li-has-icon .ui-btn-inner a.ui-link-inherit 
{    
    padding-left: 85px;    
}

.offersSection .ui-li-count
{
    font-family: Oswald-Light;
    font-weight: normal;
}

.offersSection .ui-li-icon 
{
    left: 0px;
    max-width: 79px;
    max-height: 65px;
    top: 0px;
    padding-right: 2px       
}

/* Location Page */

.locationNavBarContainer .ui-navbar li .ui-btn
{
    text-align: left;
    font-family: Oswald-Light;
    font-size: 31px;
    color: white !important;
    background: -webkit-linear-gradient(top, rgba(51,51,51,0.36) 0%,rgba(38,38,38,0.45) 100%);
}

.locationNavBarContainer .ui-mini .ui-btn-inner
{
    color: white;
}

.locationImage
{
    border: 5px solid rgba(37, 60, 69, 0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.follow {
	-moz-box-shadow: 0px 3px 7px -3px #1f1d1f;
	-webkit-box-shadow: 0px 3px 7px -3px #1f1d1f;
	box-shadow: 0px 3px 7px -3px #1f1d1f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26e21), color-stop(1, #f26e21) );
	background:-moz-linear-gradient( center top, #f26e21 5%, #f26e21 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26e21', endColorstr='#f26e21');
	background-color:#f26e21;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #b06639;
	display:inline-block;
	color:#FDDDC6;
	font-family:Londrina;
	font-size:12px;
	font-weight:normal;
	padding:0px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #625248;
}

.follow:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f26e21), color-stop(1, #f26e21) );
	background:-moz-linear-gradient( center top, #f26e21 5%, #f26e21 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26e21', endColorstr='#f26e21');
	background-color:#f26e21;
}

.follow:active 
{
	position:relative;
	top:1px;
}

/*.ui-body-c .ui-link 
{
    color: #FDDDC6;
    font-weight: normal;
}*/

/* offer page */


@media all and (max-width: 50em) {
	.offer-breakpoint .ui-block-a
    {
    width: 67%;
    float:none;
	}
    .offer-breakpoint .ui-block-b
	{
	width: 30%; 
	float:none; 
	}
}

.offer-breakpoint .ui-block-a {
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid #6EC0CA;
    border-right: 1px solid #78A1A5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
        }
        
.offer-breakpoint .ui-block-b {
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid #6EC0CA;
    border-left: 1px  solid #92C7CC;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
    height: 150px;
    margin: 5px 5px 0px 0px;
    }

.offer-businessname {
    color: #fff;
    font-family: Oswald-Regular;
    height: auto;
    line-height: 1em;
    text-align: left;
    padding-left: 4px;
    -webkit-font-smoothing:antialiased;
}

.offers-used{
    font-family: Oswald-Light;
    color: #506C70;
    float: left;
    height: auto;
    line-height: 1em;    
    margin: 5% 0 0 2%;
    text-align: left;
    }
    
.map
{
    background: url('CustomIcons/map.svg');
     width: 40px;
    height: 40px;
    transform: scale(2);
    position: relative;
    left: 30%;
margin-top: 4px;
}

.ui-block-b > p {
    color: #506C70;
    font-size: 12px;
    position: relative;
    left: 5%;
    text-align: center;
}

.address{
    font-family: Oswald-Light;
    color: #fff;
    font-size: 16px;
    margin: 0 auto 4px 10%;
}

.coupon-container
{
    background: rgba(255, 255, 255, 0.199219);
    border: 1px solid #528B92;    
    border-radius: 5px;
    margin: 5px;
}
.coupon-bg
{
    position: relative;
    background: #698D8D;
    border-radius: 5px;
    border: 1px solid transparent; /* Only here to stop collapsing border */
    margin: 5px;
    margin-bottom: 70px; /* used to take up space under coupon container for offer button */
}


                
.coupon-front
{
    background: #506C70;
    border-radius: 5px;
    margin: 5px;
    text-align: center;    
}

.coupon-description
{
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
    color: white;
    font-family: Oswald-Light;
	text-shadow:1px 1px 0px #66422e;
}      

.offer-button-container
{
    min-height: 120px;
}

.offer-button
{
    background-color: #eb7636;
    border: 1px solid #a82f03;
    width: 180px;
    height: 45px; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
    margin-top: 60px;
}


/*.offer-buttonold
{
	-webkit-box-shadow:inset 0px 1px 0px 0px #eba078;
	box-shadow:inset 0px 1px 0px 0px #eba078;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AE753C), color-stop(1, #A26A31) );
	background-color:#eb7636;
	-webkit-border-radius:150px;
	border-radius:150px;
	border:1px solid #a82f03;
	display:inline-block;
    margin: auto;
	text-decoration:none;
	text-shadow:1px 1px 0px #66422e;
    
    height: 140px;
    width: 140px;
    position: absolute;    
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    
}*/

/*
.offer-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A26A31), color-stop(1, #AE753C) );
	background-color:#d16d2a;
}.offer-button:active {
	position:relative;
	bottom:99px;
} */

.offer-button > div 
{
    color: white;
    top: 10px;
    position: relative;
    text-shadow:1px 1px 0px #66422e;
    font-family: Oswald-Light;
}

.disclaimer {
    font-family: Oswald-Light;
    color: rgb(76, 113, 122);
    font-size: 12px;
    text-align: center;
}

.offer-done{
	-webkit-box-shadow:inset 0px 1px 0px 0px #eba078;
	box-shadow:inset 0px 1px 0px 0px #eba078;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AE753C), color-stop(1, #A26A31) );
	background-color:#eb7636;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #a82f03;
	display:inline-block;
    height: 50px;
    width: 140px;
    position: relative;
    top: 10px;
    margin-left:auto;
    margin-right:auto;
    color: white;
    font-family: Oswald-Light;
    text-shadow: 1px 1px 0px #66422E;
    
}.offer-done:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A26A31), color-stop(1, #AE753C) );
	background-color:#d16d2a;
}.offer-done:active {
	position:relative;
	bottom:99px;
}

.offer-done div{
    padding: 14px;
}

.offer-done span {
            color: white;
            position: relative;
            left: 33px;
            top: 60px;
            text-decoration:none;
	        text-shadow:1px 1px 0px #66422e;
            font-family: Oswald-Light;
        }
.done {
    font-size: 18px;
    padding: 7px;
}